@{
    ViewData["Title"] = "Service Life Time";
}

<div class="text-center">
    <h1 class="display-4">Service Lifetime</h1>
</div>

<div>
    <hr />
    <h3>Transient Service</h3>
    @ViewBag.message1
    </br>
    @ViewBag.message2
</div>

<div>
    <hr />
    <h3>Scoped Service</h3>
    @ViewBag.message3
    </br>
    @ViewBag.message4
</div>

<div>
    <hr />
    <h3>Singleton Service</h3>
    @ViewBag.message5
    </br>
    @ViewBag.message6
</div>